<label for="name">Name</label>
<input ng-model="model.widget.name"
       id="name"
       class="form-control"
       placeholder="Name"/>
<label for="html">HTML</label>
<div id="html"
     ng-model="model.widget.text"
     text-angular
     ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
        ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
        ['indent','outdent'],['html']]">
</div>
<a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block top-margin">Delete</a>