<div class="container-fluid" ng-controller="WidgetEditController">

    <label for="name">Name</label>
    <input ng-model="model.widget.name" id="name"
           class="form-control"
           placeholder="Name"/>

    <label for="text">Text</label>
    <input ng-model="model.widget.text"
           id="text"
           class="form-control"
           placeholder="Image Text"/>

    <label for="url">URL</label>
    <input ng-model="model.widget.url"
           id="url"
           type="url"
           class="form-control"
           placeholder="https://google.com/image.jpg"/>

    <label for="width">Width</label>
    <input ng-model="model.widget.width"
           id="width"
           type="number"
           class="form-control"
           placeholder="100%"/>

    <label for="upload">Upload</label>
    <input ng-model="model.widget.upload"
           id="upload"
           class="form-control"
           type="file"
           placeholder="Header Text"/>

    <a href="#" class="btn btn-primary btn-block">Upload Image</a>
    <a ng-click="model.deleteWidget(model.widget)" class="btn btn-danger btn-block">Delete</a>

</div>

