<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Choose Widget
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item">
            <a ng-click="model.addWidget('HEADER')"> Header</a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"> Label</a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"> HTML</a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"> Text Input</a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"> Link</a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"> Button</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.addWidget('IMAGE')"> Image</a>
        </li>
        <li class="list-group-item">
            <a ng-click="model.addWidget('YOUTUBE')"> YouTube</a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"> Data Table</a>
        </li>
        <li class="list-group-item">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"> Repeater</a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
