<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page">
                <span class="glyphicon glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>

        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new">
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>

        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                Widgets
            </a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div>
        <div ng-switch-when="HEADER">
            <h1 ng-if="widget.size == 1">{{widget.text}}</h1>
            <h2 ng-if="widget.size == 2">{{widget.text}}</h2>
            <h3 ng-if="widget.size == 3">{{widget.text}}</h3>
            <h4 ng-if="widget.size == 4">{{widget.text}}</h4>
            <h5 ng-if="widget.size == 5">{{widget.text}}</h5>
            <h6 ng-if="widget.size == 6">{{widget.text}}</h6>
        </div>
        <div ng-switch-when="IMAGE">
            <img ng-src="{{widget.url}}" width="{{widget.width}}"/>
        </div>
        <div ng-switch-when="YOUTUBE">
            <iframe width="100%" ng-src="{{model.doYouTrustUrl(widget.url)}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-triangle-right nvw-glyphicon"> </span>
            </a>
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget">
                <span class="glyphicon glyphicon-eye-open nvw-glyphicon"> </span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a href="#/user/{{model.userId}}">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
    </div>
</nav>
