<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.wgId}}">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-header">
            <a class="navbar-brand" href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{model.wgId}}/flickr">
                Search Flickr</a>
        </div>
    </div>
</nav>

<div ng-show="model.error" class="alert alert-danger" role="alert">
    {{model.error}}
</div>
<div class="container-fluid input-group">
    <input ng-model="searchText" type="text" class="form-control" placeholder="Search Images">
    <span class="input-group-btn">
        <a ng-click="model.searchPhotos(searchText)" class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </span>
</div>
<div class="row row-margin">
    <div class="col-xs-4" ng-repeat="photo in model.photos.photo">
        <div class="thumbnail">
            <img class="vsk-ngclick-a img-responsive" ng-click="model.selectPhoto(photo)"
                 ng-src="https://farm{{photo.farm}}.staticflickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}_q.jpg"/>
        </div>
    </div>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header pull-right">
            <a class="navbar-brand" href="#/user/{{model.userId}}"><span class="glyphicon glyphicon-user"> </span></a>
        </div>
    </div>
</nav>